.__dot_slider_layout {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;

  > div {
    align-self: flex-end;
    padding-bottom: 100px;

    & h4 {
      margin-bottom: 15px;
    }

    & p {
      margin: 20px 0 120px 0;
      width: 660px;
    }
  }

  & img {
  }
}
