@use "../../abstracts/mixins" as *;

.__dot_slider_layout {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;

  > div {
    align-self: flex-end;
    padding-bottom: 100px;

    & h4 {
      margin-bottom: 15px;
    }

    & p {
      margin: 20px 0 120px 0;
      width: 660px;
    }
  }

  @include responsive("medium") {
    flex-direction: column;
    align-items: center;

    > div {
      align-self: center;
      align-items: center;
      text-align: center;
    }

    & img {
      width: 400px;
      height: 400px;
    }

    & p {
      width: 100% !important;
      margin-bottom: 16px !important;
    }
  }

  @include responsive("large") {
    & img {
      width: 400px;
      height: 400px;
    }

    & p {
      width: 444px !important;
    }
  }

  @include responsive("small") {
    & img {
      width: 200px;
      height: 200px;
    }

    & p {
      width: unset !important;
    }
  }
}
