@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.__tab_slider_layout {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;

  & h2 {
    margin: 30px 0 14px 0;
  }

  & hr {
    margin: 50px 0 20px 0;
    border: none;
    background-color: $dark-secondary;
    height: 1px;
    width: 444px;
  }

  & img {
    animation: rotate 100s linear infinite;
    align-self: flex-end;
  }

  @include responsive("medium") {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & div:nth-of-type(2) p {
      width: 400px;
    }

    & img {
      width: 200px !important;
      height: 200px !important;
      align-self: center;
      margin-bottom: 50px;
    }
  }

  @include responsive("large") {
    & img {
      width: 300px;
      height: 300px;
    }
  }

  @include responsive("small") {
    & img {
      width: 170px !important;
      height: 170px !important;
    }

    & hr {
      margin: 0;
      margin-top: 20px;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
