@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.__navbar {
  background-color: $dark-opacity;
  backdrop-filter: blur(40.774227142333984px);
  width: 830px;
  height: 96px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 0 0 123px;
  position: relative;

  & hr {
    position: absolute;
    width: 473px;
    height: 1px;
    background-color: $light;
    left: -450px;
    border: none;
    opacity: 0.2;
  }

  & a {
    height: 96px;
    display: flex;
    align-items: center;
    border-bottom: solid 3px transparent;
    transition: 0.3s ease;

    &:hover {
      border-bottom: solid 3px $light;
    }
  }

  & span:first-of-type {
    margin-right: 12px;
  }
}

.__active {
  @include active;
}
