@use "../../abstracts/mixins" as *;

.__header {
  @include center_vertically;
  justify-content: space-between;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  & img {
    margin-left: 55px;
  }
  @include responsive("medium") {
    padding-top: unset;
  }
  @include responsive("small") {
    padding: 24px 24px 0 24px;

    & img {
      margin-left: 0;
    }
  }
}
