@use "../../abstracts/mixins" as *;

.__header {
  @include center_vertically;
  justify-content: space-between;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  & img {
    margin-left: 55px;
  }
}
