@font-face {
  font-family: "Bellefair";
  src: url(/fonts/Bellefair-Regular.otf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url(/fonts/BarlowCondensed-Regular-webfont.woff) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url(/fonts/Barlow-Regular.ttf) format("truetype");
  font-display: swap;
}
