@use "../abstracts/variables" as *;

@mixin background_image($image) {
  background-image: url($image);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center_vertically {
  display: flex;
  align-items: center;
}

@mixin active {
  border-bottom: solid 3px $light !important;
}
///////////////////////////////////////
@mixin responsive($size) {
  $query: map-get($breakpoints, $size);
  $maxWidth: map-get($query, max-width);
  @media (max-width: #{$maxWidth}) {
    @content;
  }
}
