@use "../base/fonts" as *;

$dark: #0b0d17;
$dark-opacity: rgba(255, 255, 255, 0.04);
$dark-secondary: #383b4b;
$light: #fff;
$bright: #d0d6f9;
//////////////////////
$bellefair: "Bellefair";
$barlow: "Barlow";
$barlow-condensed: "Barlow Condensed";
///////////////////////
$mobile: 500px;
$tablet: 768px;
$desktop: 1500px;

$breakpoints: (
  "small": (
    max-width: $mobile,
  ),
  "medium": (
    max-width: $tablet,
  ),
  "large": (
    max-width: $desktop,
  ),
);
