@use "../../base/typography" as *;
@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as *;

.__tabs_control_slider {
  @extend .nav_link;
  cursor: pointer;
  display: inline-block;
  color: $bright;
  padding-bottom: 10px;
  border: solid 3px transparent;

  &:not(:last-child) {
    margin-right: 35px;
  }

  &:hover {
    @include active-border;
    color: $light;
  }
}
