@use "../../base/typography" as *;
@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.__text_block {
  width: fit-content;
  & h4 {
    font-family: $barlow-condensed;
  }
  & p {
    width: 444px;
  }
  @include responsive("medium") {
    text-align: center;
  }
  @include responsive("small") {
    & p {
      width: 300px !important;
    }
  }
}
