@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.__title {
  font-family: $barlow-condensed;
  letter-spacing: 4.72px;
  position: absolute;
  top: 0;
  color: $light;

  & span {
    margin-right: 26px;
    color: $light;
    opacity: 0.25;
  }

  @include responsive("small") {
    margin-top: 100px;
  }
}
