@font-face {
  font-family: "Bellefair";
  src: url(/fonts/Bellefair-Regular.otf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url(/fonts/BarlowCondensed-Regular-webfont.woff) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url(/fonts/Barlow-Regular.ttf) format("truetype");
  font-display: swap;
}

$dark: #0b0d17;
$light: #fff;
$bright: #d0d6f9;

:root {
  --data-dark-color: $dark;
  --data-light-color: $light;
  --data-bright-color: $bright;
  --data-font-bellefair: "Bellefair";
  --data-font-barlow: "Barlow";
  --data-font-barlow-condensed: "Barlow Condensed";
}
